<h1>welcome to 12 register </h1>


<form method="POST">
    <input type="text" name="name" placeholder="Enter Name"><br>
    <input type="number" name="age" placeholder="Enter Age"><br>
    <input type="email" name="email" placeholder="Enter Email"><br>
    <button type="submit">Submit</button>
</form>

<p>{{ msg }}</p>

{% if name==""or age=="" or email=="" %}
    <h1>fill all data</h1>
  {% else %} 
    <h3>Name: {{ name }}</h3>
    <h3>Age: {{ age }}</h3>
    <h3>Email: {{ email }}</h3>
{% endif %}
